POSTGRES_USER=financeflow
POSTGRES_PASSWORD=financeflow123
POSTGRES_DB=financeflow

ConnectionStrings__FinanceFlow=Host=postgres;Port=5432;Database=financeflow;Username=financeflow;Password=financeflow123

Kafka__BootstrapServers=kafka:9092